@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", sans-serif;
}

.prompt::-webkit-scrollbar {
  width: 5px;
}

.prompt::-webkit-scrollbar-thumb {
  background-color: #666e75;
  border-radius: 5px;
}

.ReactModal__Overlay {
  /* styles for the overlay */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(40, 45, 68, 0.85);
}

.ReactModal__Content {
  /* styles for the content */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  max-width: 500px;
  background: #171a28;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  border-radius: 10px;
  outline: none;
  padding: 40px;
}

@media only screen and (max-width: 640px) {
  /* Adjustments for mobile devices */
  .ReactModal__Content {
    width: 90%;
    max-width: none;
    padding: 20px;
  }
}

.modal-image {
  width: 65%;
  max-width: 70%;
}

@media only screen and (max-width: 640px) {
  /* Adjustments for mobile devices */
  .modal-image {
    width: 90%;
    max-width: none;
    padding: 20px;
  }
}

.active-button {
  background: linear-gradient(to right, #ff6ad5, #39b3f6);
  color: #051c33;
  font-weight: 600;
  padding: 0.75rem 1.25rem;
  border-radius: 9999px;
  margin-bottom: 1rem;
  transition: background-color 0.3s, color 0.3s;
}

.inactive-button {
  background-color: #374151;
  color: #d1d5db;
  padding: 0.75rem 1.25rem;
  border-radius: 9999px;
  margin-bottom: 1rem;
  transition: background-color 0.3s, color 0.3s;
}

.active-button:hover,
.inactive-button:hover {
  background-color: #39b3f6;
  color: #051c33;
}
